.schedule-body > tr:hover {
    background-color: tomato;
    color: white;
  }

  .schedule {
    border-collapse: collapse;
  }

  .schedule th,
  .schedule td {
  padding: 3px;
  border: 1px solid #212121;
  }

  tbody {
    font-family: sans-serif;
  }

  .price-body>tr:hover{
    background-color: rgb(134, 149, 168);
    color:yellow;
  }
  .price{
    border-collapse: collapse;
  }
.price th,
.price td {
    padding: 3px;
    border: 1px solid #212121;
  }

  .price-foot>tr:hover{
    background-color: gold;
    color: darkgrey;
  }
  .statistic{
    border-collapse: collapse;
  }
  .statistic th,
  .statistic td {
    padding: 3px;
    border: 1px solid #212121;
  }

